.env
out/
build/

# Gradle
.gradle/
/build/

# IntelliJ
*.iml
.idea/
.idea_modules/

# Java
/target/
.classpath
.project
.settings/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

apache-tomcat-10.1.10